<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{url_for('static', filename='frontpage.css')}}" />
    <title>index</title>
  </head>
  <body>
    <h1> Mobile MOT Clinic</h1>
    <div class="fppicture">
      </div>
 
    <div class="high">
      
       <button type="submit" class="button" action="{{url_for('register')}}"  title="register"> <a href="{{url_for('register')}}">Sign up </a></button>
      <div>
        <div class="high">
       <button type="submit" class="button" action="{{url_for('login')}}" title="login" > <a href="{{url_for('login')}}">Login</a></button> 
        </div>
   <p> Lorem ipsum, dolor sit amet consectetur adipisicing elit <br>
     Tenetur incidunt ipsum quibusdam. Dolorum provident voluptate deleniti, placeat pariatur exercitationem voluptates obcaecati sint quis quos! Iure quis impedit possimus tempore commodi.</p>
  </body>
</html>

