<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{url_for('static',filename='main.css')}}" />
    <title>main</title>
  </head>
  <body>
    <header id="header">
    <a id="header" href="frontpage.html" id="swup"  class="transistion-fade" > Logout</a>
      <a  id="header"href="#" id="swup" class="transistion-fade" >Settings</a>
  </header>

    <section>
    <table>
    <tr>
      <th><div id="serviceO" class="packageone">
        <button   action="{{url_for('mot')}}"type="submitbtn" title="packageone"> <a href="{{url_for('mot')}}">BOOK NOW</a> </button>
      </div></th>
       <th><div id="serviceO" class="packagetwo">
        <button action="{{url_for('gp')}}" type="submitbtn" name="" title="gp">  <a href="{{url_for('gp')}}">BOOK NOW</a> </button>
       
       </div></th>
          <th>  <div id="serviceO"  class="packagethree">
            <button   action="{{url_for('surgery')}}" type="submitbtn" name="" title="packagethree"> BOOK NOW </button>
        <section>
          <tr>
            <th><div id="serviceO"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius iure vitae eveniet nesciunt voluptatum molestiae, magni excepturi inventore recusandae minima nihil neque odit aliquid et molestias quisquam odio aperiam facilis.</div></th>
             
              </tr>
       
     
         </section>
        </tr>
      </td>
    </table>


  </body>
</html>
